# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
pyvenv.cfg
.venv
pip-selfcheck.json

# Linting / LSP
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Project Specific
log/
