# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal

pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__

# VSCode file
.vscode/
activate
log/

# test history playback
testhistory/

# ignition details
.ignitionraw/
.ignitionrawbak/
ignitionhistory/

# ignore cache
/.*/


# ignore .guiworkspace.json
.guiworkspace.json